.cid {
	width:100px;
}
.order-approve {
	width:200px;
}
.order-order {
	width:200px;
}
.order-name {
	width:200px;
}
.order-supplier {
	width:200px;
}
.order-status {
	width:200px;
}
.order-createat {
	width:200px;
}
.order-createdby {
	width:200px;
}
.order-updateat {
	width:200px;
}
.order-updatedby {
	width:200px;
}
.order-action {
	width:200px;
}